
RewriteOptions inherit

RewriteEngine on
RewriteCond %{HTTP_HOST} ^baseddepartment\.store$ [OR]
RewriteCond %{HTTP_HOST} ^www\.baseddepartment\.store$
RewriteRule ^/?$ "https\:\/\/baseddepartment\.info\/public\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$

RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]