<!doctype html>
<html>
    <head>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <title>Admin Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <pre class="header">
____                      _______                      _ __
      / __ )____ _________  ____/ / ___/___  _______  _______(_) /___  __
     / __  / __ `/ ___/ _ \/ __  /\__ \/ _ \/ ___/ / / / ___/ / __/ / / /
    / /_/ / /_/ (__  )  __/ /_/ /___/ /  __/ /__/ /_/ / /  / / /_/ /_/ /
   /_____/\__,_/____/\___/\__,_//____/\___/\___/\__,_/_/  /_/\__/\__, /
                                                                /____/
    </pre
        >

        <div class="topnav">
            <a href="home">Home</a>
            <a href="about">About</a>
            <a href="https://discord.com/invite/qXb9XkYZRd">Discord</a>
            {% if perms == 'Admin' %}
            <a class="right" href="logout">Logout</a>
            <a class="right" href="admin">Admin Panel</a>
            <a class="right" href="user">User Panel</a>
            {% elif perms == 'User' %}
            <a class="right" href="logout">Logout</a>
            <a class="right" href="user">User Panel</a>
            {% else %}
            <a class="right" href="signin">Signin</a>
            {% endif %}
        </div>

        <br>

        <div class="container">
            <h1>User Page</h1>
            <h2>Logged in as: <strong class="gradient-text">{{ username }}</strong></h2>
            <hr />

            <h4>MATNIENCE MODE</h4>
    </body>
</html>
