
RewriteOptions inherit

RewriteEngine on
RewriteCond %{HTTP_HOST} ^pedohunters\.info$ [OR]
RewriteCond %{HTTP_HOST} ^www\.pedohunters\.info$
RewriteRule ^/?$ "https\:\/\/pedohunters\.info\/public\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^public\/doxes\/$ "https\:\/\/pedohunters\.info\/public\/" [R=301,L]

RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]