

<!doctype html>
<html>
  <head>    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Admin Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <pre class="header">
      ____                      _______                      _ __       
      / __ )____ _________  ____/ / ___/___  _______  _______(_) /___  __
     / __  / __ `/ ___/ _ \/ __  /\__ \/ _ \/ ___/ / / / ___/ / __/ / / /
    / /_/ / /_/ (__  )  __/ /_/ /___/ /  __/ /__/ /_/ / /  / / /_/ /_/ /
   /_____/\__,_/____/\___/\__,_//____/\___/\___/\__,_/_/  /_/\__/\__, /
                                                                /____/
    </pre>

    <div class="topnav">
      <a href="home">Home</a>
      <a href="about">About</a>
      <a class="right"  href="admin">Admin Panel Login</a>
    </div>

    <h1>What is BasedSecurity?</h1>
    <pre>
What is basedSecurity?
    - basedSecurity is a lua loader service offered on an application based system.

What are we trying to accomplish this?
    - This was a fun project that I wanted to tackle and attempt to learn more about a topic I had not explored. I believe I have created a service that will allow people to securely share there scripts with there friends.

Is basedSecurity uncrackable?
    - No, nothing is uncrackable but the security we provide is far from your basic system. Someone with a very high skillset could possibly crack it, but I am constantly working on tamper detection and other means to prevent such attacks to help protect your script.

Well then how do I know you wont leak my script?
    - I initially tackled this project to practice and make my own loader!  My goal is not to get some collection of scripts, my only goal from this is to learn as much as I can and provide a worthwhile service to an active user base. I am always open to feedback and will be trying to improve the security as needed.

Do you protect any script?
    - From full on rage scripts to a cool visual scripts we will protect anything. Currently we are only opening 5 beta slots, but will look to expand from that in the future

This sounds great! Where can I apply?
    - Fill out the google form. It will be reviewed by staff to see if it qualifies for a beta slot.
    </pre>
  </body>
</html>