<!doctype html>
<html>
    <head>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <title>Admin Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <pre class="header">
____                      _______                      _ __
      / __ )____ _________  ____/ / ___/___  _______  _______(_) /___  __
     / __  / __ `/ ___/ _ \/ __  /\__ \/ _ \/ ___/ / / / ___/ / __/ / / /
    / /_/ / /_/ (__  )  __/ /_/ /___/ /  __/ /__/ /_/ / /  / / /_/ /_/ /
   /_____/\__,_/____/\___/\__,_//____/\___/\___/\__,_/_/  /_/\__/\__, /
                                                                /____/
    </pre
        >

        <div class="topnav">
            <a href="home">Home</a>
            <a href="about">About</a>
            <a href="https://discord.com/invite/qXb9XkYZRd">Discord</a>
            <a class="right" href="admin">Login</a>
        </div>
        <div class="container">
            <h1>About basedSecurity</h1>

            <div class="section">
                <h2>What is basedSecurity?</h2>
                <p>
                    basedSecurity is a Lua loader service offered on an
                    application-based system.
                </p>
            </div>

            <div class="section">
                <h2>What are we trying to accomplish?</h2>
                <p>
                    This was a fun project that I wanted to tackle and attempt
                    to learn more about a topic I had not explored. I believe I
                    have created a service that will allow people to securely
                    share their scripts with their friends.
                </p>
            </div>

            <div class="section">
                <h2>Is basedSecurity uncrackable?</h2>
                <p>
                    No, nothing is uncrackable, but the security we provide is
                    far from your basic system. Someone with a very high
                    skillset could possibly crack it, but I am constantly
                    working on tamper detection and other means to prevent such
                    attacks to help protect your script.
                </p>
            </div>

            <div class="section">
                <h2>How do I know you won’t leak my script?</h2>
                <p>
                    I initially tackled this project to practice and make my own
                    loader! My goal is not to collect scripts, but to learn as
                    much as I can and provide a worthwhile service to an active
                    user base. I am always open to feedback and will be trying
                    to improve the security as needed.
                </p>
            </div>

            <div class="section">
                <h2>Do you protect any script?</h2>
                <p>
                    From full-on rage scripts to cool visual scripts, we will
                    protect anything. Currently, we are only opening 5 beta
                    slots, but we will look to expand in the future.
                </p>
            </div>

            <div class="section">
                <h2>This sounds great! Where can I apply?</h2>
                <p>
                    Fill out the Google form. It will be reviewed by staff to
                    see if it qualifies for a beta slot.
                </p>
            </div>
        </div>
    </body>
</html>
