<!doctype html>
<html>
    <head>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <title>Login Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <pre class="header">
        ____                      _______                      _ __
        / __ )____ _________  ____/ / ___/___  _______  _______(_) /___  __
       / __  / __ `/ ___/ _ \/ __  /\__ \/ _ \/ ___/ / / / ___/ / __/ / / /
      / /_/ / /_/ (__  )  __/ /_/ /___/ /  __/ /__/ /_/ / /  / / /_/ /_/ /
     /_____/\__,_/____/\___/\__,_//____/\___/\___/\__,_/_/  /_/\__/\__, /
                                                                  /____/
    </pre
        >

        <div class="topnav">
            <a href="home">Home</a>
            <a href="about">About</a>
        </div>

        <div class="login">
            <h1>Please login</h1>
            <form action="" method="post">
                <input
                    type="text"
                    placeholder="Username"
                    name="username"
                    value="{{
          request.form.username }}"
                />
                <br />
                <input
                    type="password"
                    placeholder="Password"
                    name="password"
                    value="{{
          request.form.password }}"
                />
                <input class="btn btn-default" type="submit" value="Login" />
            </form>
            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }} {% endif %}</p>

            </p>
        </div>
    </body>
</html>
